.footer{
  padding: 15px;
  background-color: #858585;
  color: #cfcfcf;
  border: 1px solid #616161;
}

.footer ul{
  list-style: none;
}

.footer li{
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}